
/* High Level Formatting */
* {
  background-color: #161616;
  font-family: 'Press Start 2P', cursive;
  position: static;  
}
html {
  max-width: 1200px;
}
h1 {
  font-size: 32px;
}

h2 {font-size: 24px;
}

h3{
  font-size: 20px;
  color: #ffffff;
 
}
li {
  font-size: 16px;
  color: rgb(202, 202, 202);
  list-style-position: inside;
  word-wrap: break-word;
  
}
hgroup {
  
  text-align: center;
  border: 2px solid;
  padding:12px;
  color: #019927;
}

/* Sections */
#picture-frame{
  float:left;
  border: 1px solid #019927;      
  /* margin: auto; */
  width: 400px;
  padding-bottom: 166px;  
  background-image: url("/img/static.png");
}
#about-me {  
  color: rgb(202, 202, 202); 
  font-size: 12px;  
  letter-spacing: .5pt;
  line-height: 12pt;
  border: 1px solid #019927;
}
#lists{
  border: 1px solid #019927; 
  position: absolute;
  
  margin-left: 400px;
  /* float: left; */
  width: 762px;
  padding: 10px;
 }

/* Components */
#picture-frame img{  
 
  margin-top: 70px;  
  transform: scale(.75);
  opacity: .8;
}
